h3 Steg för steg av min process
p Först studerade jag mallen och utgick från den, satte upp mina egna mappar och struktur efter den
p Sedan byggde jag startsidan med ett login formulär där jag samlade information om användaren i sessions
p Med denna information gjorde jag ett formulär där man kan uppdatera sitt användarnamn ifall man även kan lösenordet.
p Nu byggde jag ut note sidorna för att kunna skapa på en sida och visa på en annan, för att ta sig mellan sidorna kan man använda den nya NAVen
p I skapa notes använda jag mig för dubbellistor för att visa flera sparade informationen i sessions för att sedan visa upp de med rubrik, anteckningar och författare
p Sedan redirecta jag vid error av namn byte då man inte skrev rätt lösenord av verifiering. Satte även upp en mappstruktur ifall jag skulle vilja lägga till flera error sidor i framtiden.
p Sist men inte minst la jag till en möjlighet att ta bort alla notes man har sparat genom en annan form med ett knapptryck.

